*{
	padding:0px;
	margin:0px;
	text-decoration:none;
}

html,body{
	width:100%;
	height:100%;
	overflow:hidden;
}

#AppView{
	width:100%;
	height:100%;
	overflow:hidden;	
}
.AppRouter{
	width:100%;
	height:100%;
	overflow:hidden;
}